@model Sakura.AspNetCore.IPagedList<Post>

@inject UserManager<ApplicationUser> UserManager

@{
    var postCount = 1 + (((int)ViewBag.Page - 1) * 25);
    var currentUser = await UserManager.GetUserAsync(User);
}
<div class="row" id="posts-display">
    <div class="col-lg-12">
        @foreach (var post in Model)
        {
            var panelClass = "panel";
            if (post.IsFirstPost)
            {
                panelClass += " panel-c-white";
            }
            else if (post.Author.Rank == 0)
            {
                panelClass += " panel-c-danger";
            }
            else if (post.Author.Rank == 1)
            {
                panelClass += " panel-c-info";
            }
            else if (post.Author.Rank == 2)
            {
                panelClass += " panel-c-success";
            }

            if (postCount % 2 != 0)
            {
                panelClass += " panel-filled";
            }
            else
            {
                panelClass += " panel-filled-even";
            }

            var mainCharacterDisplay = "";
            if (post.Author.MainCharacter != null)
            {
                mainCharacterDisplay = $" (<span class=\"class-{post.Author.MainCharacter.CharacterClass.Name.Replace(' ', '-').ToLower()}\">{post.Author.MainCharacterName}</span>)";
            }

            <div class="@Html.Raw(panelClass) post" data-forum-id="@post.Thread.ForumId" data-forum-thread-id="@post.ThreadId" data-forum-post-id="@post.PostId" id="@Html.Raw($"post{post.PostId}")">
                <div class="panel-heading">
                    @post.Author@Html.Raw(mainCharacterDisplay), at @TimeZoneInfo.ConvertTime(post.PostedAt, TimeZoneInfo.Utc, TimeZoneInfo.FindSystemTimeZoneById(currentUser.LocalTimeZoneInfoId))
                    <span class="pull-right">
                        <small><a class="anchor" href="#@Html.Raw($"post{post.PostId}")">Post #@postCount</a></small>
                    </span>
                </div>
                <div class="panel-body post-body">
                    @Html.Raw(post.FormattedContent)

                    @if (post.EditedAt > DateTime.MinValue)
                    {
                        <br />
                        <small>
                            <em><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Edited by @post.Editor, at @TimeZoneInfo.ConvertTime(post.EditedAt, TimeZoneInfo.Utc, TimeZoneInfo.FindSystemTimeZoneById(currentUser.LocalTimeZoneInfoId))</em>
                        </small>
                    }
                </div>
                <div class="panel-footer">

                    <div class="text-right">
                        @if (currentUser.IsModerator)
                        {
                            if (!post.IsFirstPost)
                            {
                                <a asp-controller="Forum" asp-action="DeletePost" asp-route-id="@post.PostId" class="btn btn-sm btn-danger">Delete</a>
                            }
                        }
                        @*<button type="button" class="btn btn-sm btn-default">Quote</button>*@
                        @if (UserManager.GetUserName(User).Equals(post.Author.ToString()) || currentUser.IsModerator)
                        {
                            if (post.IsFirstPost)
                            {
                                <a asp-controller="Forum" asp-action="EditThread" asp-route-id="@post.ThreadId" class="btn btn-sm btn-default">Edit Thread</a>
                            }
                            else
                            {
                                <a asp-controller="Forum" asp-action="EditPost" asp-route-id="@post.PostId" class="btn btn-sm btn-default">Edit</a>
                            }
                        }
                    </div>
                </div>
            </div>

            postCount++;
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <pager source="Model" />
    </div>
</div>