@model Sakura.AspNetCore.IPagedList<Thread>

@{
    List<ThreadActivity> activities = ViewBag.ThreadActivities;
}

<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-striped">
            <tbody>
                @foreach (var thread in Model)
                {
                    var latestPost = thread.Posts.OrderByDescending(post => post.PostedAt).Where(post => !post.IsDeleted).First();
                    var replies = (thread.Posts.Where(p => !p.IsDeleted).Count() - 1);
                    <tr>
                        <td class="col-lg-7">
                            @if (thread.IsStickied)
                            { @Html.Raw("<span class=\"label label-default\">Sticky</span>") }
                            @if (thread.IsLocked)
                            { @Html.Raw("<span class=\"label label-default pull-right\">Locked</span>") }

                            @{
                                var hasNewPosts = false;
                                var isNewThread = false;
                                if (latestPost != null)
                                {
                                    var activity = activities.SingleOrDefault(t => t.ThreadId == thread.ThreadId);
                                    if (activity != null)
                                    {
                                        hasNewPosts = (latestPost.PostId > activity.LastReadPostId);
                                    }
                                    else
                                    {
                                        isNewThread = true;
                                    }
                                }
                            }

                            @if (hasNewPosts)
                            {
                                <strong><a asp-controller="Forum" asp-action="LatestPost" asp-route-id="@thread.ThreadId">@thread.Name</a></strong><br />
                            }
                            else if (isNewThread)
                            {
                                <strong><a asp-controller="Forum" asp-action="Thread" asp-route-id="@thread.ThreadId">@thread.Name</a></strong><br />
                            }
                            else
                            {
                                <a asp-controller="Forum" asp-action="Thread" asp-route-id="@thread.ThreadId">@thread.Name</a><br />
                            }

                            <small>Started by @thread.Author, at @thread.CreatedAt.ToString("g")</small>
                        </td>



                        <td class="col-lg-2">
                            <small>@replies replies</small><br />
                            <small>@thread.Views views</small>
                        </td>
                        <td class="col-lg-3 text-right">
                            @if (latestPost != null)
                            {
                                @latestPost.Author <a asp-controller="Forum" asp-action="LatestPost" asp-route-id="@latestPost.ThreadId" title="Go to latest post"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a><br />
                                    <abbr class="timeago" title="@latestPost.PostedAt.ToString("O")">@latestPost.PostedAt.ToString("g")</abbr>
                            }
                            else
                            {
                                <em>No replies found</em>
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

<pager source="Model" />