@using AlterEgo.Models.ForumViewModels
@model AlterEgo.Models.ForumViewModels.IndexViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Forums";
}

@Html.Partial("_AdminToolbox", new AdminToolboxViewModel { Categories = Model.Categories })

<div class="row">
    <div class="col-lg-12 col-xs-12">
        @foreach (var category in Model.Categories)
        {
            <h3 class="page-header">@category.Name</h3>
            <div class="row">

                @foreach (var forum in category.Forums.OrderBy(forum => forum.ForumId))
                {

                    <div class="view-header">
                        <div class="pull-right text-right hidden-xs" style="line-height: 14px">
                            @if (forum.LatestPost != null)
                            {
                                <small>
                                    <a asp-controller="Forum" asp-action="Thread" asp-route-id="@forum.LatestPost.Thread.ThreadId">@forum.LatestPost.Thread.Name</a><br />
                                    By @forum.LatestPost.Author<br />
                                    <span class="c-white">@forum.LatestPost.PostedAt.ToString("g")</span>
                                </small>
                            }
                            else
                            {
                                <small>
                                    <em>No posts found</em>
                                </small>
                            }
                        </div>
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-angle-right"></i>
                        </div>
                        <div class="header-title">
                            <h4><a asp-controller="Forum" asp-action="Threads" asp-route-id="@forum.ForumId">@forum.Name</a></h4>
                            <small>@forum.Description</small>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        }
    </div>
</div>