@model AlterEgo.Models.ForumViewModels.ThreadViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = $"{Model.Thread.Name} - {Model.Thread.Forum.Name}";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Alter Ego</a></li>
            <li><a asp-controller="Forum" asp-action="Index">Forum</a></li>
            <li><a asp-controller="Forum" asp-action="Threads" asp-route-id="@Model.Thread.ForumId">@Model.Thread.Forum.Category.Name</a></li>
            <li class="active">@Model.Thread.Forum.Name</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                @{
                    string icon;
                    if (Model.Thread.IsStickied)
                    {
                        icon = "pe-7s-pin";
                    }
                    else if (Model.Thread.IsLocked)
                    {
                        icon = "pe-7s-lock";
                    }
                    else
                    {
                        icon = "pe-7s-news-paper";
                    }
                }
                <i class="pe page-header-icon @icon"></i>
            </div>

            <div class="header-title">
                <h2>@Model.Thread.Name </h2>
                <small>
                    Started by @Model.Thread.Author, at @Model.Thread.CreatedAt.ToString("G")
                </small>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-lg-6 pull-left">
        @{
            var stickyAction = (Model.Thread.IsStickied) ? "UnstickyThread" : "StickyThread";
            var stickyLinkText = (Model.Thread.IsStickied) ? "Unsticky" : "Sticky";

            var lockAction = (Model.Thread.IsLocked) ? "UnlockThread" : "LockThread";
            var lockLinkText = (Model.Thread.IsLocked) ? "Unlock" : "Lock";
        }

        <a asp-controller="Forum" asp-action="@stickyAction" asp-route-id="@Model.Thread.ThreadId" class="btn btn-warning">@stickyLinkText</a>
        <a asp-controller="Forum" asp-action="@lockAction" asp-route-id="@Model.Thread.ThreadId" class="btn btn-warning">@lockLinkText</a>
        <a asp-controller="Forum" asp-action="DeleteThread" asp-route-id="@Model.Thread.ThreadId" class="btn btn-danger">Delete Thread</a>
    </div>
    <div class="col-lg-6 pull-right">
        @if (Model.Thread.IsLocked)
        {
            <button type="button" class="btn btn-default" disabled="disabled">Thread Locked</button>

        }
        else
        {

            <a asp-controller="Forum" asp-action="NewReply" asp-route-id="@Model.Thread.ThreadId" class="btn btn-default">Post New Reply</a>

        }
    </div>
</div>

<br />
@await Html.PartialAsync("_PostsPartial", Model.PagedPosts)

@if (!Model.Thread.IsLocked)
{
    <div class="row">
        <div class="col-lg-12">
            <hr />
            <h4>Reply to this thread</h4>
            <form asp-controller="Forum" asp-action="NewReply" asp-antiforgery="true" role="form">
                <input asp-for="ThreadId" value="@Model.Thread.ThreadId" type="hidden" />

                <div class="form-group">
                    <label asp-for="Content" class="sr-only"></label>
                    <textarea asp-for="Content" class="form-control" rows="4"></textarea>
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-default">Post Reply</button>
                </div>
            </form>
        </div>
    </div>
}