@model AlterEgo.Models.ForumViewModels.ThreadsViewModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = Model.Forum.Name;
    var currentUser = await UserManager.GetUserAsync(User);
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a asp-controller="Home" asp-action="Index">Alter Ego</a></li>
            <li><a asp-controller="Forum" asp-action="Index">Forum</a></li>
            <li class="active">@Model.Forum.Category.Name</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-angle-right"></i>
            </div>

            <div class="header-title">
                <h2>@Model.Forum.Name</h2>
                <small>
                    @Model.Forum.Description
                </small>
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <span class="pull-right">
            @if (currentUser.Rank > Model.Forum.CanStartThreads)
            {
                <button type="button" class="btn btn-default" disabled="disabled">Cannot Start Thread</button>
            }
            else
            {
                <a asp-controller="Forum" asp-action="NewThread" asp-route-id="@Model.Forum.ForumId" class="btn btn-default">Start New Thread</a>
            }
        </span>
    </div>
</div>

<br/>
@if (Model.Threads.Any())
{
    @await Html.PartialAsync("_ThreadsPartial", Model.PagedThreads)
}
else
{
    <div class="row">
        <div class="col-lg-12 text-center">
            <p><em>No threads found. Be the first to <a asp-controller="Forum" asp-action="NewThread" asp-route-id="@Model.Forum.ForumId">start one</a>.</em></p>
            <br />
            <hr />
        </div>
    </div>
}

@if (Model.ActiveUsers.Count() > 0)
{
    <br />
    <div class="panel panel-filled">
        @if (Model.ActiveUsers.Count() == 1)
        {
            <div class="panel-heading">@Model.ActiveUsers.Count() user is online (in the past 15 minutes)</div>
        }
        else
        {
            <div class="panel-heading">@Model.ActiveUsers.Count() users are online (in the past 15 minutes)</div>
        }
        <div class="panel-body">
            <small>
                @string.Join(", ", Model.ActiveUsers)
            </small>
        </div>
    </div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ForumScriptsPartial"); }
}