@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Manage" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can used as a second factor of verification in two-factor authentication.
                See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>
            @*@(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }*@
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                }*@
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Race</th>
                    <th class="text-center">Class</th>
                    <th class="text-center">Level</th>
                    <th class="text-center">Realm</th>
                    <th class="text-center">Guild</th>
                    <th class="text-center">Last Modified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var character in Model.Characters.OrderBy(x => x.Realm).ThenByDescending(x => x.Level).ThenByDescending(x => x.LastModified))
                {
                    var lastModifiedOffset = DateTimeOffset.FromUnixTimeMilliseconds(character.LastModified);
                    var normalizedClassName = $"class-{character.CharacterClass.Name.Replace(' ', '-').ToLower()}";
                    <tr>
                        <td class="@normalizedClassName">@character.Name</td>
                        <td class="text-center"><img src="@Html.Raw($"/images/wow/icons/race_{character.Race}_{character.Gender}.jpg")" alt="@character.CharacterRace.Name" class="img-rounded" /></td>
                        <td class="text-center"><img src="@Html.Raw($"/images/wow/icons/class_{character.Class}.jpg")" alt="@character.CharacterClass.Name" class="img-rounded" /></td>
                        <td class="text-center">@character.Level</td>
                        <td class="text-center">@character.Realm</td>
                        <td class="text-center">@character.Guild</td>
                        <td class="text-center">
                            @if (character.LastModified > 0)
                            {
                                <abbr class="timeago" title="@lastModifiedOffset.DateTime.ToString("O")">@lastModifiedOffset.DateTime.ToString("g")</abbr>

                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>